<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Nivin John</h2>
            <h4>nivin.john@test.com</h4>
        </div>
        <div class="header">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Test Image">
        </div>
        <mat-divider></mat-divider>
        <h2 matSubheader> Pages</h2>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">DashBoard</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>
        <mat-divider></mat-divider>
        another menu
    </div>
</mat-nav-list>