<div class="blockhead">
  <h2>Your Teams</h2>
</div>
<div
  fxLayout="row"
  fxLayoutAlign="space-between-center"
  fxLayoutGap="20px"
  class="stats-cards"
>
  <a *ngFor="let teamCard of teamCards" (click)="selectPost(teamCard)">
    <mat-card
      class="mat-elevation-z4"
      matRipple
      matRippleColor="rgba(131, 167, 185, 0.22)"
      style="padding: 2rem; min-width: 20rem;"
    >
      <mat-card-header>
        <mat-card-title>{{ teamCard.title }}</mat-card-title>
        <mat-card-subtitle>{{ teamCard.sport }}</mat-card-subtitle>
        <div class="ratings">
          <div class="ratings_sub">
            <span class="rating_head">TR: </span>
            <span class="rating_sub_head">{{ teamCard.tr }}</span>
            <span class="rating_sub_head_delta">{{ teamCard.tr_delta }}</span>
            <mat-icon
              [ngClass]="{
                up_rate: teamCard.tr_arrow_type == 'arrow_drop_up',
                down_rate: teamCard.tr_arrow_type == 'arrow_drop_down'
              }"
              >{{ teamCard.tr_arrow_type }}</mat-icon
            >
            <!-- <mat-icon class="up_rate">{{ teamCard.tr_arrow_type }}</mat-icon> -->
          </div>
          <div class="ratings_sub">
            <span class="rating_head">PR: </span>
            <span class="rating_sub_head">{{ teamCard.pr }}</span>
            <span class="rating_sub_head_delta"> {{ teamCard.pr_delta }}</span>
            <mat-icon
              [ngClass]="{
                up_rate: teamCard.pr_arrow_type == 'arrow_drop_up',
                down_rate: teamCard.pr_arrow_type == 'arrow_drop_down'
              }"
              >{{ teamCard.tr_arrow_type }}</mat-icon
            >
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="flex-row">
          <div class="temp">
            <img class="imgCls" src="{{ teamCard.imgsrc }}" />
          </div>
          <div class="team_stats">
            <span>Players:{{ teamCard.players }}</span>
            <span>Type: {{ teamCard.type }}</span>
            <span>Last Match: {{ teamCard.lastMatch }}</span>
            <span>Next Match: {{ teamCard.nextMatch }}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </a>
</div>
