<div fxLayout="row" fxLayoutAlign="space-between-center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <div class="text">
            <h4>123</h4>
            <span class="total">2323</span>
            <span>
                <mat-icon color="primary">
                    trending_up
                </mat-icon>
            </span>
            <span class="description">123213</span>
            <span> of target</span>
        </div>
    </mat-card>
    
    <mat-card fxFlex="25">
        <div class="text">
            <h4>123</h4>
            <span class="total">2323</span>
            <span>
                <mat-icon color="primary">
                    trending_up
                </mat-icon>
            </span>
            <span class="description">123213</span>
            <span> of target</span>
        </div>
    </mat-card>
    <mat-card fxFlex="25">
        <div class="text">
            <h4>123</h4>
            <span class="total">2323</span>
            <span>
                <mat-icon color="primary">
                    trending_up
                </mat-icon>
            </span>
            <span class="description">123213</span>
            <span> of target</span>
        </div>
    </mat-card>
    <mat-card fxFlex="25">
        <div class="text">
            <h4>123</h4>
            <span class="total">2323</span>
            <span>
                <mat-icon color="primary">
                    trending_up
                </mat-icon>
            </span>
            <span class="description">123213</span>
            <span> of target</span>
        </div>
    </mat-card>
</div>